In [49]:
from tkinter import *
import numpy as np
import pandas as pd
from fuzzywuzzy import fuzz
from sklearn import tree
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sn

In [50]:
tr_df=pd.read_csv("diab.csv")

In [51]:
tr_df.head(5)

   LBDSGLSI  LBXGLU  LBXGH       output
0     12.16     219    9.1        Type1
1     10.16     183    8.9        Type1
2      5.77     104    4.9  No_Diabetes
3      5.77     104    5.5  No_Diabetes
4      5.94     107    5.5  No_Diabetes

In [52]:
tr_df["output"] = tr_df["output"].replace(['No_Diabetes','Prediabetis','Type1','Type2'],[0,1,2,3])

In [53]:
tr_df.head()

   LBDSGLSI  LBXGLU  LBXGH  output
0     12.16     219    9.1       2
1     10.16     183    8.9       2
2      5.77     104    4.9       0
3      5.77     104    5.5       0
4      5.94     107    5.5       0

In [54]:
tr_X=tr_df.iloc[:,:-1]
tr_y=tr_df.iloc[:,-1:]

In [55]:
tr_Xtrain,tr_Xtest,tr_ytrain,tr_ytest = train_test_split(tr_X,tr_y,test_size = 0.2,random_state = 0)

In [56]:
print(len(tr_ytrain))

5194

In [57]:
tr_Xtrain.head(5)

      LBDSGLSI  LBXGLU  LBXGH
1065     10.21     184    8.0
852       4.83      87    5.3
978       5.05      91    5.2
1632      4.72      85    5.2
2592      5.16      93    5.3

In [58]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state = 20)
rf.fit(tr_Xtrain,tr_ytrain)

C:\Users\Harshitha Gowda\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\Harshitha Gowda\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=20, verbose=0, warm_start=False)

In [59]:
tr_pred = rf.predict(tr_Xtest)

In [60]:
print(tr_pred)
print("Random forest accuracy for tr : {}".format(rf.score(tr_Xtest , tr_ytest)))

[0 0 2 ... 0 0 0]
Random forest accuracy for tr : 1.0

In [61]:
accuracy = accuracy_score(tr_ytest,tr_pred)

In [62]:
print("accuracy = "+str(accuracy))

accuracy = 1.0

In [63]:
X=pd.read_csv("diabres.csv")

In [64]:
X.head()

Empty DataFrame
Columns: [6.4, 120.0, 6.2]
Index: []

In [65]:
print(X)

Empty DataFrame
Columns: [6.4, 120.0, 6.2]
Index: []

In [66]:
import csv

In [67]:
with open('diabres.csv',newline='') as f:
    reader = csv.reader(f)
    data = list(reader)

In [68]:
print(data)

[['6.4', '120.0', '6.2']]

In [69]:
X_new=[['5.5','96','5']]

In [70]:
Y_new = rf.predict(X_new)

In [71]:
print("X=%s, Predicted=%s" % (X_new[0], Y_new[0]))

X=['5.5', '96', '5'], Predicted=0

In [72]:
if(Y_new==0):
    print('No_Diabetes')
elif(Y_new==1):
    print('Prediabetes')
elif(Y_new==2):
    print('Type1')
else:
    print('Type2') 
print(Y_new)
print("Random Forest Classifier Model accuracy = "+str(accuracy))

No_Diabetes
[0]
Random Forest Classifier Model accuracy = 1.0